<main class="grid">
    <section class="notes">
        <!-- utiliza ngFor para mostrar cada nota en el array -->
        <div *ngFor="let note of notes; let i = index" class="note">
            <label for="note{{ i }}">Note</label>
            <input
                type="number"
                placeholder="Note"
                id="note{{ i }}"
                min="0"
                max="5"
                step="0.01"
                [(ngModel)]="note.note"
                (ngModelChange)="calculateAverage()"
            />
            <label for="percent{{ i }}">Percent</label>
            <input
                type="number"
                placeholder="Percent"
                id="percent{{ i }}"
                min="1"
                max="100"
                step="1"
                [(ngModel)]="note.percent"
                (ngModelChange)="calculateAverage()"
            />
            <!-- utiliza *ngIf para mostrar el botón de eliminar solo si el índice es mayor que cero -->
            <button
                type="button"
                class="btn--close"
                *ngIf="i > 0"
                (click)="deleteNote(i); calculateAverage()"
            >
                x
            </button>
        </div>
        <!-- agrega un botón de agregar nota -->
        <button type="button" class="btn--add" (click)="addNote()">+</button>
    </section>
    <section>
        <div class="note--final" *ngIf="notaActual">
            <label>Nota actual</label>
            {{ notaActual }}
        </div>
        <div
            class="note-result"
            *ngIf="totalPercent > 0 && totalPercent < 100 && notaRequerida > 0"
        >
            Necesitas {{ notaRequerida.toFixed(2) }} en el
            {{ porcentajeRestante }}% restante para pasar la asignatura.
        </div>
        <div *ngIf="totalPercent == 100">
            Haz ingresado el 100% del curso, tu nota final es
            {{ notaActual }}
        </div>
    </section>
</main>

<router-outlet></router-outlet>
