.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 10;
}

.card {
    width: 25rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
}

.card--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card--title {
        font-size: 2rem;
    }
}

mat-card {
    padding: 1rem;
}

.container {
    width: auto;
    padding: 2rem 0;
    margin: auto;
}

.flex {
    display: flex;
    mat-form-field,
    button {
        margin-right: 0.5rem;
    }
}

.column {
    flex-direction: column;
}

.align-center {
    justify-content: center;
    align-items: center;
}

.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}

.title {
    font-size: 2rem;
}

.text-center {
    text-align: center;
}
