<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>{{ title }}</span>
    </mat-toolbar-row>
</mat-toolbar>

<main class="container">
    <section class="flex column align-center mb-2">
        <p>
            ¡{{ title }} es la app para saber cuanta nota necesitas para aprobar
            un curso! Con nuestra herramienta, podrás ajustar los datos por
            defecto y adaptarlos a tus necesidades específicas. Es fácil de usar
            y te permitirá planificar tu trabajo académico de manera más
            eficiente.
        </p>
        <div class="flex" *ngFor="let note of notes; let i = index">
            <mat-form-field>
                <mat-label>Nota</mat-label>
                <input
                    matInput
                    type="number"
                    placeholder="Nota"
                    min="{{ notaMinima }}"
                    max="{{ notaMaxima }}"
                    step="0.01"
                    [(ngModel)]="note.note"
                    (ngModelChange)="calculateAverage(note.note)"
                    required
                />
            </mat-form-field>
            <div>
                <mat-form-field>
                    <mat-label>Porcentaje</mat-label>
                    <input
                        matInput
                        type="number"
                        placeholder="Porcentaje"
                        min="1"
                        max="100"
                        step="1"
                        [(ngModel)]="note.percent"
                        (ngModelChange)="calculateAverage(note.note)"
                        required
                    />
                </mat-form-field>
                <button
                    mat-icon-button
                    color="warn"
                    aria-label="Remove note"
                    (click)="deleteNote(i); calculateAverage(null)"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div class="flex">
            <button mat-fab extended color="primary" (click)="addNote()">
                <mat-icon>add</mat-icon>
                Añadir nota
            </button>
            <button
                mat-fab
                extended
                color="primary"
                (click)="changeViewModal()"
            >
                <mat-icon>settings</mat-icon>
                Configuración
            </button>
        </div>
    </section>
    <section class="text-center">
        <h2 class="title" *ngIf="acumuladoActual">
            Nota: {{ acumuladoActual.toFixed(2) }}
        </h2>
        <div
            class="note-result"
            *ngIf="
                porcentajeTotal >= 0 &&
                porcentajeTotal < 100 &&
                notaRequerida > 0
            "
        >
            Necesitas
            {{ isNaN(notaRequerida) ? 0 : notaRequerida.toFixed(2) }} en el
            {{ porcentajeRestante.toFixed(1) }}% restante para pasar la
            asignatura.
        </div>
        <div *ngIf="porcentajeTotal == 100">
            Haz ingresado el 100% del curso, tu nota final es
            {{ acumuladoActual.toFixed(2) }}
        </div>
        <div *ngIf="porcentajeTotal > 100">
            Haz ingresado más del 100% del curso, tu porcentaje acumulado es
            {{ porcentajeTotal.toFixed(2) }}%
        </div>
    </section>
</main>
<div class="modal" *ngIf="isViewModal" (click)="handleClick($event)">
    <mat-card id="card-modal">
        <div class="card--header">
            <span class="card--title">Configuración</span>
            <button
                mat-icon-button
                aria-label="Close settings"
                (click)="changeViewModal()"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <hr />
        <div class="card--body">
            <div class="flex">
                <mat-form-field>
                    <input
                        matInput
                        type="number"
                        placeholder="0"
                        min="0"
                        max="{{ notaMaxima }}"
                        step="0.1"
                        [(ngModel)]="notaMinimaTemp"
                    />
                    <mat-label>Nota mínima</mat-label>
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        type="number"
                        placeholder="5"
                        min="{{ notaMinima + 1 }}"
                        max="1000"
                        step="0.1"
                        [(ngModel)]="notaMaximaTemp"
                    />
                    <mat-label>Nota máxima</mat-label>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field>
                    <input
                        matInput
                        type="number"
                        placeholder="3"
                        min="{{ notaMinima + 1 }}"
                        max="{{ notaMaxima }}"
                        step="0.1"
                        [(ngModel)]="notaAprobatoriaTemp"
                    />
                    <mat-label>Nota aprobatoria</mat-label>
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        type="number"
                        placeholder="5"
                        min="{{ notaAprobatoria }}"
                        max="{{ notaMaxima }}"
                        step="0.1"
                        [(ngModel)]="notaObjetivoTemp"
                    />
                    <mat-label>Nota objetivo</mat-label>
                </mat-form-field>
            </div>
            <div class="flex">
                <button mat-raised-button color="warn" (click)="resetValues()">
                    Reiniciar
                </button>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="saveValues(); changeViewModal()"
                >
                    Guardar
                </button>
            </div>
        </div>
    </mat-card>
</div>

<router-outlet></router-outlet>
